*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Courier New";
}

body{
   text-align:center;
}
.start-btn{
    margin: 20px;
    padding: 10px;        
    cursor: pointer;
    color: #ffffff;
    background-color: royalblue;
    border: none;
}